<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/populate">Poblar la Base de Datos</a></li>
            <li><a href="/loadRS">Cargar el Sistema de Recomendacion</a></li>
            <li><a href="/searchGenero">Buscar animes por genero</a></li>
            <li><a href="/mostValuedAnimes">Los 2 Animes con mayor puntuación</a></li>
            <li><a href="/similarAnimes">Animes que mas se parecen a otro</a></li>
            <li><a href="/recommendedUsersAnimes">Recomienda dos animes a un usuario</a
        </ul>
    </nav>
    </header>
    